
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
  
body{
    background-color: #f3f5f9;
    width: 100%;
    max-width: 1360px; 
    margin: 0 auto;
}
  
/*nav*/
.navbar {
  width: 100%;
  box-shadow: 5px 5px 5px rgb(210, 208, 208);
    position: fixed; /* Navbar giữ nguyên khi cuộn trang */
    top: 0; /* Đặt navbar ở trên cùng của trang */
    z-index: 10000; /* Đảm bảo navbar hiển thị trên tất cả các phần khác */
    background-color: white;

}
  
  .navbar-content .navbar-item{
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  .navbar-item .logo h2{
    color: #17bf63;
  }
  .navbar-item .items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar-item .items a.sign_in{
    font-weight: 500;
    /* background: white; */
    color: #718096;
    padding: 5px 15px 0 20px;
    font-size: 15px;
  }
  .navbar-item .items a.sign_in:hover{
    color: red;
    text-decoration: underline;
  
  }
  .navbar-item .items a.sign_up{
    font-weight: 500;
    /* background-color: #17bf63; */
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    color: white;
  }
  .navbar-item .items a.sign_up:hover{
    background-color: #0f8f53;
  }
  
  .user-avatar {
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
/*wrapper*/
.wrapper{
  display: flex;
  position: relative;
  height: 500px;
}


.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #a9f3a5;
  padding: 65px 0px;
  position: fixed;
  padding-top: 150px;
}

#searchresult{
  background-color: white;
}

.wrapper .sidebar ul li{
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: black;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: rgb(216, 211, 211);
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: calc(100% - 200px);
  margin-left: 200px;
  background: #fff;
  padding-top: 100px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  color: #717171;
  line-height: 25px;
}
/*main*/


.main{
    width: 100%;
}
.main .header{
    padding: 20px;
    width: 100%;
    background: #fff;
    color: black;
    border-bottom: 1px solid #e0e4e8;
    font-weight: bold;
    font-size: 25px;
}
  
.main .info{
    margin-left: 20px;
}

.main .items{
    padding-top: 20px;
    background: #fff;
}
.main .items form .search,
.main .items form #sport,
.main .items form #all,
.main .items form #btn{
    height: 30px;
    margin: 10px;
}
.main .items form .search{
    width: 180px;
}
.main .items form #sport,
.main .items form #all{
    width: 130px;
}
.main .items form #btn{
    background: #17bf63;
    color: white;
    border: 1px solid #17bf63;
    text-align: center;
    cursor: pointer;
    padding: 0px 24px;
}
.main .items form #btn:hover {
    background-color: green; /* Màu nền khi di chuột qua */
}


.container {
    margin: 20px 9px;
    display: flex;
    /* justify-content: flex-start; */
    border: 1px solid #ccc;
    box-shadow: 8px 8px 8px 2px rgba(36, 33, 33, 0.1);
    cursor: pointer;
    width: 70%;
    position: relative;
    
}

.profile {
    width: 50%;
}

.profile img {
    width: 235px;
    /* height: 128px; */
    height: 100%;
    position: absolute;
}

.info {
    width: 90%;
    padding: 27px;
    box-sizing: border-box;
}
.info .program_name{
    font-weight: bold;
    font-size: 25px;
}

.info .program_title{
    font-size: 15px;
    color: black;
    padding-top: 10px;
}


.actionForm{
    display: flex;
}
.actionForm p{
    font-size: 15px;
    padding-right: 10px;
}

/*
.actionForm p.del_program{
    color: red;
}
.actionForm p.program_sta{
    color: yellowgreen;
}
.more-link {
    cursor: pointer;
    color: blue;
}

.more-link:hover {
    text-decoration: underline;
}

.more-link::after {
    content: '\25BC';
    position: absolute;
    top: 90px; 
    right: 240px; 
    font-size: 10px;
    transform: translateY(-50%); 
    color: blue;
  }
*/

  
.del_program {
    background-color: #ff4d4d; 
    color: #fff; 
    padding: 5px 10px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 13px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    border: 2px solid #ff4d4d;
}

.del_program:hover {
    background-color: #d14848; 
    border: 2px solid #d14848; 
}
.more-link {
  background-color: #17bf63; 
  color: #fff; 
  padding: 5px 10px; 
  border-radius: 5px; 
  border: none;
  cursor: pointer;
  font-size: 13px; 
  font-weight: bold; 
  transition: background-color 0.3s ease; 
}

.more-link:hover {
  background-color: #0d8053; 
}


/* CSS popup*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ */
    z-index: 999; /* Đặt z-index cao hơn để hiển thị phía trên */
}

.add_member_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Đặt z-index cao hơn popup */
    width: 480px;
    height: 360px;
}

.add_member_popup.show,
.overlay.show {
    display: block;
}
.popup_title{
    padding-bottom: 15px;
}

.add_member_popup .button_container {
    padding-top: 0px;
    padding-left: 280px;
}

.add_member_popup .button_container button {
    padding: 8px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.add_member_popup .button_container input.addM {
    background: #17bf63;
    color: white;
    border: 0 #17bf63;
    padding: 8px 12px;
    border-radius: 3px;
}

.add_member_popup .button_container input.addM:hover{
    background: #0f8f53;
}

.add_member_popup .button_container button.closeP {
    background-color: gray; 
    color: white;
    border: 1px solid white;
}

/* CSS cho nút đóng */
.close_popup_button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* CSS cho tiêu đề */
.popup_title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

button.actio {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
}

button.actio:hover {
    color: darkred;
}

/*CSS Newprogram*/

.input_program{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    
}
.inp_program,
#sport,
#program{
    height: 30px;
    border: 1px solid gray;
    padding: 0 6px;
}

.input_program label{
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 15px;
}
.input_program{
    padding: 5px;
}