body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: url('../Image/anhnen.webp') center center/cover;
}

form {
    max-width: 500px;
    width: 350px;
    margin: 200px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    margin-right: 275px;
    font-size: 14px
}
.edit{
    margin-right: 33px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px;
}
.signup{
    text-decoration: none;
    color: #4caf50;
}
button {
    background-color: #4caf50;
    width: 200px;
    height: 40px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}